@model ProductsListViewModel

    <h1>@Model.CurrentCategory</h1>
@foreach (var product in Model.Products)
{
    @*<div>
        <h2>@product.Name</h2>
        <h3>@product.Price.ToString("c")</h3>
        <h4>@product.Category.CategoryName</h4>
    </div>*@

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@product.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@product.Price.ToString("c")</h3>
                <h3>
                    <a>@product.Name</a>
                </h3>
                <p>@product.ShortDesc</p>
            </div>
        </div>
    </div>
}

