
@model CoolBooksProject.Models.Books

    
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImagePath" alt="" width="150" height="150">
            <div class="caption" id="@Model.Id">
                <h3 class="pull-right">@Model.GenreId</h3><h3>@Html.ActionLink(@Model.Title, "Details", new { id= Model.Id })                         
                

                       
                </h3>
    
                <div style="overflow: hidden;  max-height: 200px;"><p>@Model.Description</p></div>
            </div>
                    </div>
    </div>

