
@model CoolBooksProject.Models.Books



<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <br />
     
            <a href='@Url.Action("Details", "Home",new {id = Model.Id},null )'>
                <img src="@Model.ImagePath" alt="" style="width: 150px; height: 230px;" />
            </a>
                

     <div class="caption" id="@Model.Id">
               
            
            <div style=" position:static">
               <h4 class="pull-right" style="font-size: 15px; line-height: 5px">@Model.Genres.Name</h4><h3> @Html.ActionLink(@Model.Title, "Details", new {id = Model.Id})</h3>
            </div>
            
            <div style="overflow: hidden; max-height: 200px;">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>

