
@model CoolBooksProject.Models.Books
    
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImagePath" alt="">
            <div class="caption">
                <h3 class="pull-right">@Model.Title</h3>
                        <h3><a asp-controller="Books"
                       asp-action="List"
                       asp-route-id="@Model.Id">@Model.Title</a>
                </h3>
    
                <p>@Model.Description</p>
            </div>

        </div>
    </div>

