@model CoolBooksProject.Models.Books

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="thumbnail" >
    <br />
    <img alt="@Model.Title" src="@Model.ImagePath" style="max-height: 500px; max-width: 350px;">
       <div class="caption-full">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <br />
                @for (var i = 1; i <= ViewBag.Rating; i++)
            {
                    <span class="starGlowN"></span>
                }
                @for (var i = (ViewBag.Rating + 1); i <= 10; i++)
            {
                    <span class="starFadeN"></span>
                }
            </div>
        </div>
    
    
    <h3 class="pull-right"> @Html.ActionLink(@Model.Genres.Name, "List", "Home", new { genre = @Model.Genres.Name } , null) </h3>
   
        <h3><a href="#">@Model.Title</a></h3>
        <h5>Author: @Model.Authors.FirstName @Model.Authors.LastName</h5>
        <h5>ISBN: @Model.ISBN</h5>  
        
        <br />
        <div ><p>@Model.Description</p></div>
    </div>
</div>

<script>
    function SCRate() {
        for (var i = 1; i <= ViewBag.Rating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>