@model CoolBooksProject.Models.Books

@if (ViewBag.CurrentUser != null)
{
<div class="thumbnail">
    <div>
        <input type="button" value="Create Review" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Reviews", new { bookId = Model.Id })'" />
    </div >
</div>
}

<div id= "review" class="thumbnail">
    @foreach (var rev in @Model.Reviews)
    {
        if (rev.IsDeleted == false)
        {
        <h5 class="pull-right">Rating: @rev.Rating</h5>
        <div class="pull-left">
            <img src='@Url.Action("GetProfileImage", "Home", new { rev.UserId })' class="img-circle img-thumbnail img-responsive" width="65" />
        </div>
        <h5><b>@rev.AspNetUsers.Users.FirstName @rev.AspNetUsers.Users.LastName</b></h5>
        <p><h5>@rev.Text</h5></p>
        if (rev.UserId == ViewBag.CurrentUser || ViewBag.admin)
        {
            <div class="pull-right thumbnail">
                @Html.ActionLink("Edit", "Edit", "Reviews", new { id = rev.Id }, null)
            </div>
            <div class="pull-right thumbnail">
                @Html.ActionLink("Delete", "Delete", "Reviews", new { id = rev.Id }, null)
            </div>
        }
        <br/>
        <hr/>
        }
    }
</div>