@using CoolBooksProject.ViewModels;
@model ListViewModel

<div id="wrapper" class="row thumbnail">
    <div class="col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3" style="float:left;">
        <img src="@ViewBag.RandomBookImagePath" width="250", onclick="location.href='@Url.Action("Details", "Home", new { id = ViewBag.RandomBookId })'"/>
    </div>
    <div class="col-md-3 col-lg-3 thumbnail" style="top:50px; float:left ">
        <h5>@ViewBag.RandomBookTitle</h5>
        <h5>@ViewBag.RandomBookAuthor</h5>
        <h6>@ViewBag.RandomBookDescription</h6>
    </div>
</div>
<hr />
<h1>Latest 3 Added Books</h1>
<br />

<div class="col-md-12">
      <div class="col-md-5">
            @foreach (var book in Model.Books)
            {
                  @Html.Partial("BookLastest", book)
            }
      </div>
</div>
